html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 15px;
  background-color: #f2f3f5;
}

.layui-card-header span{
    float: left;
}

.layui-card-header button{
    float: right;
    margin-top: 10px;
}

#form-edit .layui-input-block,
#form-add .layui-input-block{
    margin-right: 20px;
}

